body {
  background-image: url('img/y-so-serious.png');
  font-family: sans-serif;
  position: relative;
  margin: 0;
  overflow-x: hidden;
}

.bingo-wrapper {
  background: white;
  margin: 50px auto;
  width: 800px;
  padding: 50px;
}

.title h1 {
  display: block;
  text-align: center;
  text-transform: uppercase;
}

.generator {
  height: 800px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.square {
  border: 1px solid black;
  height: 20%;
  width: 20%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.square>.question {
  font-weight: bold;
}

.square:hover {
  background: #00800052;
  cursor: pointer;
}

.square.ticked {
  background: green;
  color: white;
}

.question.star {
  font-size: 100px;
}

.inputBox {
  position: fixed;
  right: 0;
  bottom: 0;
  background: white;
  border-radius: 10px 0 0 10px;
  padding: 10px;
  transition: .5s;
  width: 400px;
}

.inputBox.collapsed {
  right: -420px;
}

.inputBox h2 {
  margin: 0;
}

.inputBox .hint {
  display: block;
  line-height: 30px;
}

.inputBox textarea {
  width: 100%;
  height: 10em;
}

.inputBox .collapse {
  position: absolute;
  cursor: pointer;
  left: -15px;
  background: white;
  width: 15px;
  top: 50%;
  border-radius: 3px 0 0 3px;
  padding: 3px;
  content: '>';
}

.inputBox.collapsed .collapse {
  content: '<';
}

.inputBox button {
  float: right;
  background: #007bff;
  border: unset;
  border-radius: 5px;
  padding: 5px 30px;
  color: white;
  font-weight: bold;
}