body {
  background-image: url('img/y-so-serious.png');
  font-family: sans-serif;
}

.bingo-wrapper {
  background: white;
  margin: 50px auto;
  width: 800px;
  padding: 50px;
}

.title h1 {
  display: block;
  text-align: center;
  text-transform: uppercase;
}

.generator {
  height: 800px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.square {
  border: 1px solid black;
  height: 20%;
  width: 20%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}